<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CouchDB Template App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CouchDB Template App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-textarea label="Document names"> {{ textArea }} </ion-textarea>

    <ion-button (click)="getAllDocumentsClick()">Get All Documents</ion-button>
  </div>

</ion-content>
